<div style="display: inline-block; text-align: center; background-color: bisque; align-self: center;">
    <h1>Heroe Component Works</h1>
    <h1>{{nombre}}</h1>
    <dl>
        <td>Nombre:</td>
        <dd>{{nombre}}</dd>

        <td>Edad:</td>
        <dd>{{edad}}</dd>

        <td>Funcion:</td>
        <dd>{{obtenerNombre()}}</dd>

        <td>Capitalizado:</td>
        <dd>{{nombre.toUpperCase()}}</dd>
        <dd>{{nombreCapitalizado}}</dd> <!--  del get -->

        <button (click)="cambiarNombre()">Cambiar Nombre</button>

        <button (click)="cambiarEdad()">Cambiar Edad</button>


    </dl>
</div>